<!DOCTYPE html>
<html>
<head>
	<title>Shopping List</title>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<link type="text/css" rel="stylesheet" href="style.css">

</head>
<body>
	<div class="container" ng-app="myShoppingList" ng-controller="myCtrl">
		<p>My Shopping List</p>
		
		<ul>
			<li ng-repeat="i in products"> 
				<div class="listItem">
					{{i}}
				</div>
				<div class="listItem" ng-click="deleteItem($index)">
					x
				</div>
			</li>
		</ul>

		<input ng-model="addMe">
		<button ng-click="addItem()">Add</button>
		


	</div>
	
	
</body>
</html>