.container{
	font-family: Arial;
	width:500px;
	background-color: #DEDDDD;
	padding-bottom: 50px;
}
ul{
	list-style: none;
	padding:0;
}
li{
	height:50px;
	width:100%;
	line-height: 50px;
	background-color: white;
	margin-top:1px;
	display: flex;
	justify-content: space-between;
}
.listItem{
	margin: 0 15px;
}